body {
	background-image: url(bg.png);
	font-family: Tahoma;
	text-align: auto;
}
	
#frame {
	text-align: left;
	background-color: rgba(255,200,200,0.3);
	text-align: auto;
	width: 900px;
	padding:10px;
	margin: 0px 0px 0px 240px;
}
		
header nav ul {
	width: 880px;
	padding: 10px;
	margin: 0px;
	display: column; 
	text-align: left;
	color: black;
	list-style-type: none;
	background-color: rgba(255,255,200,0.3);	
}
		
#content {
	display: inline-flex;
	
}
		
a {
	font-weight: bold;
	color: black;
	text-decoration: none;
}
		
main{
	width: 600px;
	padding: 10px 10px 100px 10px;
	margin: 10px 0px 0px 0px;
	text-align: left;
	border: 1px black solid;
	background-color: rgba(200,200,255,0.3);
	display: column;
	vertical-align: top;
}
		
aside{
	padding: 10px 0px 0px 10px;
	width: 260px;
   	margin: 10px 0px 0px 0px;
	text-align: left;
	border: 1px black solid;
	background-color: rgba(200,255,200,0.3);
	display: column;
	line-height: 30px;
}
		
body article {
	background-color: rgba(200,200,200,0.6);
}
		
header {	
	text-align: center;
	padding-right: 10px;
}
		
footer {
	text-align: center;
	background-color: rgba(255,255,200,0.3)
}

.article{
	display: flex;
}

.aside {
	display: flex;	
}
